footer .social-medias img {
  width: 40px;
  margin: 0 0.5rem;
}
footer .social-medias,
footer .privacy-policy {
  max-width: 120px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  padding: 1rem 2rem;
}
footer a,
footer h4 {
  color: #fff;
  text-decoration: none;
}
footer .site-map a {
  display: block;
  margin-top: 1rem;
}
footer a:hover {
  color: orange;
  transition: 0.5s ease color;
}
